p {
    color:white;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 7px;
    word-spacing: 10px;
    line-height: 2;
    text-indent: 80px;
    background: black;
}
    /* background-color: black;
    color:white;
    font-size: 40px;
    font-style: italic;
    direction: ltr;
    letter-spacing: 20px;
    word-spacing: 10px;
    line-height: 2;
    text-decoration: underline;
    text-indent: 60px;
    text-shadow: 2px 2px gray; */